@model VogueLink2.Models.Customer

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Ship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Ship)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
